name: cabal-install

on:
  workflow_call:
    inputs:
      cache:
        description: cache key version
        required: true
        type: string

jobs:
  cabal-install:
    name: Build and test

    strategy:
      matrix:
        plan:
          - ghc: "9.2.8"
            cabal : "3.6.2.0"
          - ghc: "9.4.8"
            cabal: "3.8.1.0"
          - ghc: "9.6.7"
            cabal: "3.10.3.0"
          - ghc: "9.8.4"
            cabal: "3.10.3.0"
          - ghc: "9.10.2"
            cabal: "3.12.1.0"
          - ghc: "9.12.2"
            cabal: "3.14.1.1"

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Get home directory
        id: get-home
        run: echo "home=${HOME}" >> $GITHUB_OUTPUT

      - name: Cache cabal package database
        id: home-dot-cabal
        uses: actions/cache@v4
        with:
          path: ${{ steps.get-home.outputs.home }}/.cabal
          key: cabal-${{ matrix.plan.ghc }}-${{ inputs.cache }}

      - name: Setup ghc and cabal-install
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.plan.ghc }}
          cabal-version: ${{ matrix.plan.cabal }}

      - name: Show paths and versions
        run: |
          which ghc && ghc --version
          which cabal && cabal --version

      - name: Configure
        run: cabal configure -f+dev

      - name: Build
        run: cabal build

      - name: Run tests
        run: cabal test
